<h1 class="text-2xl font-semibold mb-4">New Expense</h1>

<%= form_with(model: @expense, local: true) do |form| %>
  <% if @expense.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, 'Title', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_field :title, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :amount, 'Amount', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.number_field :amount, step: 0.01, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :category, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :category, Expense.categories.keys.map { |category| [category.humanize, category] }, { prompt: "Select category" }, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, 'Description', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_area :description, rows: 4, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm' %>
  </div>

  <div class="mb-4">
    <%= form.label :date, 'Date', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.date_field :date, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm' %>
  </div>

  <div class="mb-4 ml-24">
    <%= form.label :proof, class: "block text-sm font-medium text-gray-700" %>
    <%= form.file_field :proof, class: "mt-1 block w-full text-sm border border-gray-300 rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.submit 'Create Expense', class: 'inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600' %>
  </div>
<% end %>
